rust/day1/target
rust/day1/Cargo.lock
rust/day2/target
rust/day2/Cargo.lock
rust/day3/target
rust/day3/Cargo.lock
rust/day4/target
rust/day4/Cargo.lock
rust/day5/target
rust/day5/Cargo.lock
rust/day6/target
rust/day6/Cargo.lock
rust/day7/target
rust/day7/Cargo.lock
